#title-text{
    text-align: left;
    font-size: 40px;
    font-family: 'Tajawal', sans-serif;
}

body{
    background-color:#8da1b9;
    font-family: 'Tajawal', sans-serif;
}


.navbar {
    background-color: white;
    color: white;
    font-family: 'Tajawal', sans-serif;
}

h2{
    font-family: 'Tajawal', sans-serif;
    font-style:  italic;
}



footer {
    background-color: #b0a1ba;
    
}

p {
    font-size: 17px;
    

}

.container {
    max-width: 50%;
    text-align: left;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.caption {
    text-align: center;
}