#title-text{
    text-align: left;
    font-size: 40px;
    font-family: 'Tajawal', sans-serif;
}

body{
    background-color: rgb(241, 241, 241);
    font-family: 'Tajawal', sans-serif;
}


.navbar-expand-lg .navbar{
    background-color: white;
    color: black;
    font-family: 'Tajawal', sans-serif;
}

h2{
    font-family: 'Tajawal', sans-serif;
}



